<nav>
  <a role="button" routerLink="/assignment-i" routerLinkActive="active">Assignment 1</a>
  <a role="button" routerLink="/assignment-ii" routerLinkActive="active">Assignment 2</a>
  <a role="button" routerLink="/assignment-iii" routerLinkActive="active">Assignment 3</a>
  <a role="button" routerLink="/assignment-iv" routerLinkActive="active">Assignment 4</a>
  <a role="button" routerLink="/assignment-v" routerLinkActive="active">Assignment 5</a>
  <a role="button" routerLink="/assignment-vi" routerLinkActive="active">Assignment 6</a>
  <a role="button" routerLink="/assignment-vii" routerLinkActive="active">Assignment 7</a>
</nav>
<main class="assignment">
  <router-outlet></router-outlet>
</main>