:host {
  display: flex;
  flex-direction: column;
}

.recipe-itens-list {
  margin-top: 1rem;
  
  li {
    overflow: hidden;
  }

  li:first-child {
    border-radius: 4px 4px 0 0;
  }

  li:last-child {
    border-radius: 0 0 4px 4px;
  }
}
